.ez-progressive {
  width: auto;
  position: relative;
  overflow: hidden;

  img,
  figcaption {
    transition: opacity ease 0.5s;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }

  .ez-progressive-placeholder {
    filter: blur(10px);
    position: absolute;
    opacity: 1;
  }
  .ez-progressive-image {
    opacity: 0;
  }

  figcaption {
    position: absolute;
    transition: opacity ease 0.5s;
    opacity: 0;
    top: auto;
    bottom: 0;
    padding: 0.5em 1em;
    background-color: #222222;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }

  &:hover figcaption {
    opacity: 1;
  }
}
